*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    background: 	#f5f5f5;
}
.hero-div{
  background-image: url('/Images/heroImg.jpg');
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 
.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Open Sans', serif;
  text-shadow: 2px 2px black ;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}



.hero-search{
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}
.search-btn {
  outline: none;
  background: none;
  border: none;
}
.fa-search{
  color: #3AAFA9;
  font-size: 24px;
  padding: 8px 0;
  cursor: pointer;
}

ul.pagination{
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}
ul.pagination li {
  background: #FFF;
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pet-details-text{
  padding: 8px;
}
.cta-link{
  color: #fff;
  display: block; 
  height: 100%; 
  width: 100%; 
  font-size: 40px;
  font-weight: 300;
  text-decoration: none; 
  padding: 32px;
  transition: 0.3s;
}

.pet-details-cta{
  height: 32px;
  background: linear-gradient(to right, #3AAFA9 50%, #1E1E1E 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.pet-details-cta:hover{
  background-position: left bottom;
}
.form-submit{
  display: block;
  height: 80px; 
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 400;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  background: linear-gradient(to right, #3AAFA9 50%, #1E1E1E 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  cursor: pointer;
}
.form-submit:hover{
  background-position: left bottom;

}




.loader,
.loader:before,
.loader:after {
  background: #3aafa9;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #3aafa9;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.featured-cards-wrapper{
  height: 30%;
  width: 100vw;
}

.featured-cards-heading{
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.featured-cards-container{
  width: 60%;
  max-width: 1600px;
  height: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.featured-card{
  height: 100%;
  width: 25%;
  margin: 0 auto;
}

.featured-font{
  margin:1rem auto;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #3AAFA9;
}

.inner-card-heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.inner-card-body{
  margin-top: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.home-articles{
  width: 100vw;
  height: 100%;
  margin: 2rem 0;
  background: #fff;
  background-color: #fff;
}
.home-articles-header{
  text-align: center;
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.home-articles-container{
  width: 100%;
  height: 100%;
}

.home-articles-wrapper{
  height: 100%;
  width: 60%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
}

.home-article-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 18%;
  margin: auto;
  cursor: pointer;
  margin-bottom: 2rem;
}

.home-article-img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  object-fit: fill;
  width: 100%;
  height: 75%;
}

.home-article-card-body{
  background: #fafafa;
  background-color: #fafafa;
  text-align: center;
  height:30%;
  border-bottom: 1px solid black;
}

.home-article-card-body p{
  margin: 0.5rem 0;
  font-size: 16px;
  line-height: 24px;
}

.home-article-card-cta{
  color: #3AAFA9;
  background: linear-gradient(to right, #17252A 50%, #fafafa 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-article-card-cta:hover{
  background-position: left bottom;
}

.home-shelter-hero{
  height: 100%;
  width: 100vw;
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.home-shelter-search-wrapper{
  height: 100%;
  width: 100%;
  
}

.home-shelter-search-heading{
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
}

.home-shelter-search-container{
  width: 75%;
  max-width: 1600px;
  height: 100%;
  margin: 1rem auto 0 auto;
}
.home-shelter-search-bar{
  display: flex;
  flex-direction: row;
 justify-content: center;
 margin-bottom: 1rem;
}

.organizations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 100%;
  height: 100%;
}



@media (max-width: 900px) {
  .hero-text{
    margin-top: 40px;
  }
  .hero-search{
    bottom: 10%;
    width: 90%;
  }
  .featured-cards-wrapper{
    height: 100%;
    width: 100vw;
  
  }
  .featured-cards-heading{
    width: 90%;
    margin: 1rem auto;
  }
  .featured-cards-container{
    flex-direction: column;
    width: 100%;
  }

  .featured-card{
    width: 55%;
    margin: 1rem auto;
  }

  .home-articles-wrapper{
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    
  }

  .hcab-last{
    margin: auto 0 !important;
  }

  .home-article-card{
    width: 48%;
  }
}